/* Fallback for font icons */
.text-fallback {
  display:none;
}
.team-list-center {
	margin: 0 auto;
	width: 780px;
}
.header .logo {
	width: 390px;
}
.icon-JLLogo{
  font-size:80px;
  float:left;
}
.logo .logo-text {
  float:right;
}
